// Breakpoint values
$mobile-max: 480px;
$tablet-max: 719px;
$desktop-min: 720px;

@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: calc($mobile-max + 1)) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}
